@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

.prd_rech {
    position: relative;
    font-size: 10pt;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #e8e8e8;
    padding: 2%;
}

.prd_rech > span {
    display: block;
    text-align: center;
    font-size: 16pt;
    font-weight: 600;
}

.prd_rech_attentionhein {
    position: relative;
    background-color: #254ef8;
    padding: 2%;
    color: white;
    border-radius: 2px;
    font-size: 11pt;
    text-align: center;
}

a.prd_rech_proj {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}

a.prd_rech_proj::before {
    content: "LIEN PROJET";
    font-size: 9pt;
    vertical-align: middle;
    background-color: white;
    color: #254ef8;
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;
    margin-right: 4px;
    font-weight: 500;
    height: 18px;
    line-height: 18px;
}

.prd_rech_head {
    color: #7d7d7d;
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 12pt;
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.prd_rech_label {
    color: #254ef8;
    font-weight: 500;
    font-size: 12pt;
    letter-spacing: 1pt;
}

.prd_rech_label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #254ef8;
    vertical-align: middle;
    margin-right: 6px;
}

.prd_rech_label + br {
    display: none;
}

.prd_rech_label::after {
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    margin-right: 6px;
    width: 30%;
    margin-left: 6px;
    background-image: linear-gradient(90deg, #254ef8, transparent);
}

.prd_rech_field::before {
    content: ">";
    margin-right: 4px;
    float: left;
    transform: translateY(-1Px);
    font-size: 7pt;
    font-weight: 800;
}

.prd_rech_thx {
    text-align: center;
    font-size: 9pt;
    letter-spacing: .5pt;
}

.prd_rech_thx span {
    font-size: 13pt;
    margin-top: 4px;
    display: block;
    font-weight: 500;
    color: white;
}

.prd_rechup {
    font-family: 'Inter', sans-serif;
    margin: 5%;
    border: 1px solid #12121224;
    padding: 30px 1% 1% 1%;
    position: relative;
}

.prd_rechup::before {
    content: "Toujours d'actualité""";
    position: absolute;
    left: 1%;
    top: calc(-10% + 8px);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10pt;
    color: #12121248;
    letter-spacing: 5Pt;
    background-color: #e0e1ee;
    padding: 0 0% 0 1%;
}

.prd_rechup_title {
    font-weight: 500;
    font-size: 12pt;
}

.prd_rechup_content {
    font-size: 10pt;
}

.prd_rechup_content strong {
    color: #254ef8;
}

.prd_rechup_end {
    font-size: 11pt;
    text-align: center;
}

.prd_rechup_second {
    display: flex;
    flex-direction: column;
    width: 560px;
    overflow: hidden;
    background-color: #040404;
    font-family: 'Inter', sans-serif;
    font-size: 10pt;
    margin: .5% auto;
    border: 1px solid #254ef8;
    color: white;
    padding: 1em;
    position: relative;
}

.prd_rechup_second_title_h1::before {
    content: "";
    display: block;
    background-image: url(https://i.imgur.com/nUU43gD.png);
    width: 100%;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
	margin-top: 30px;
}

.prd_rechup_second::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    right: 0;
    background-image: url(https://i.imgur.com/UD94zUm.gif), linear-gradient(45deg, #040404, transparent);
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background-size: 100% auto;
    background-position: 50% 56%;
}

.prd_rechup_second_title {
    position: relative;
}

.prd_rechup_second_title_h1 {
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    letter-spacing: .25em;
}

.prd_rechup_second_content h2 {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    color: white;
    padding: 1em;
    width: calc(100% + 2em);
    position: relative;
    left: -1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.prd_rechup_second_content h2 strong {
    font-weight: 700;
    color: #254EF8;
}

.prd_rechup_second_content {
    position: relative;
    z-index: 2;
}

.prd_rechup_second_content h2::before, .prd_rechup_second_content h2::after {
    content: "";
    display: inline-flex;
    flex: 1 0 0;
    height: 2px;
    background-color: #254EF8;
}

.prd_rechup_second_more {
    background-color: #FFFFFF21;
    padding: 1em;
    width: calc(100% + 2em);
    position: relative;
    left: -1em;
    border-top: 1.5px solid #254EF870;
    border-bottom: 1.5px solid #254EF870;
}

.prd_rechup_second_more strong {
    color: #fff;
    position: relative;
    transition: all .33s ease-in-out;
    font-weight: 600;
}

.prd_rechup_second_more strong::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 4px;
    background-color: #254EF8;
    z-index: -1;
    transition: all .33s ease-in-out;
}

.prd_rechup_second_more strong:hover {
    font-weight: 700;
    color: #254EF8;
}

.prd_rechup_second_more strong:hover::before {
    opacity: 0;
}

.prd_rechup_second_more + br {
    display: none;
}

.prd_rechup_second_content i, .prd_rechup_second_content em {
    color: #6e8afb;
}

.prd_rechup_second_end {
    position: relative;
    z-index: 2;
    height: 200px;
    left: -1em;
    width: calc(100% + 2em);
    bottom: -1em;
}

.prd_rechup_second::after {
    /* content: ""; */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    right: 0;
    background-image: url(https://i.imgur.com/6LvLISE.png);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background-size: 100% auto;
    background-position: center bottom;
    opacity: .44;
}

.prd_rechup_second_end::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(https://i.imgur.com/rCKUKrr.gif);
    background-size: 100% auto;
}

.prd_rechup_second_end::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(180deg, #040404, #040404DF, #04040425);
}

.prd_rechup_second_discord:empty {
    display: none;
}

.prd_rechup_second_discord {
    background-color: #5865F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prd_rechup_second_discord dl.hidecode {
    background: none;
    border: none;
}

.prd_rechup_second_discord dl.hidecode::before {
    display: none;
}

.prd_rechup_second_discord dl.hidecode::after {
    content: "HIDE";
    position: absolute;
    right: 0;
    top: 5%;
    letter-spacing: 1.25pt;
    font-weight: 500;
    font-size: 11px;
    opacity: .66;
}

.prd_rechup_second_discord a img {
    height: 18px;
    width: auto;
}

.prd_rechup_second_discord a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5pt;
}

.prd_rechup_second_discord a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.prd_rechup_second_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 0 0;
    padding: 3px 6px;
    background-color: #254EF8;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1pt;
    border-radius: 3px;
}

.prd_rechup_second_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 0 0;
    padding: 3px 6px;
    background-color: #254EF8;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1pt;
    border-radius: 3px;
}

.prd_rechup_second_title_h1.prd_rechup_second_title_h1v2::before {
    background-image: none;
    content: "THE HAVEN";
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    /* background-color: #222; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 7.5px 0;
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}
