.thxxsa {
    padding: 6pt 0 40pt 0%;
    background-image: url(https://i.imgur.com/KB99Pvj.gif);
    background-size: 100% auto;
    position: relative;
    background-position: 50% 55%;
    overflow: hidden;
    border-radius: 3px;
}

.thxxsb {
    display: flex;
    vertical-align: middle;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.25%;
}

.thxxsc {
    display: flex;
    font-size: 12px;
    letter-spacing: .5pt;
    font-family: Arial;
    text-shadow: 1px 1px 5px #0000002b;
    position: absolute;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    left: 0;
    right: 24px;
    bottom: 18px;
    text-transform: uppercase;
}

a.thxxsd {
    display: block;
    color: white !important;
}

.thxxse {
    background-color: #254ef8;
    padding: 4px 10px;
    border-radius: 2px;
    transition: all .33s ease-in-out;
    display: inline-flex;
    background-image: linear-gradient(145deg, #ffffff38, transparent);
    letter-spacing: .33pt;
    font-size: 11.55px;
}

a.thxxsf {
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-size: 7pt;
    text-transform: uppercase;
    letter-spacing: .77pt;
    color: white !important;
    opacity: .88;
    text-shadow: 1px 1px 5px #000000;
}

a.thxxsf img {
    transform: scale(.88) translateY(2px);
}

.thxxsa.thxbef::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(135deg, #ffffff, #254EF833);
    pointer-events: none;
    opacity: .45;
    mix-blend-mode: soft-light;
}

.thxxsb::before {
    /* content: "THE HAVEN"; */
    position: absolute;
    left: calc(50% + 12.5pt);
    top: 35%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 24px;
    display: block;
    width: max-content;
    text-align: center;
    font-weight: 800;
    letter-spacing: 25pt;
    text-shadow: 0 0 6px #000000;
}

.thxxsb strong {
    mix-blend-mode: overlay;
    font-size: 40px;
    letter-spacing: 25pt;
    margin-right: -25pt;
    opacity: 1;
    filter: drop-shadow(2px 4px 10px #04040425);
    color: white;
    position: relative;
}

.thxxsb span {
    margin: 2.5%;
    text-transform: uppercase;
    letter-spacing: 12.5pt;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    opacity: .95;
}

span.thxxse:hover {
    transform: scale(1.22);
    width: fit-content;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.thxxsa.thxbef::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(90deg, #00000050, #00000090), url(https://the-haven.fr/medias/weather/animate-rain.webp);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: screen;
    filter: opacity(.49);
}

.thxxsb::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    /* border: 3.33px solid white; */
    opacity: .76;
    mix-blend-mode: soft-light;
    filter: blur(10px);
    box-shadow: 0 0 0 30px black;
}
.thxxsb span::before {
    content: "THE HAVEN";
    font-size: 40px;
    letter-spacing: 25pt;
    margin-right: -25pt;
    opacity: .8;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.25%;
    top: 8px;
    left: 0;
    right: 0;
    display: flex;
}
